.mdl-typography--title-color-contrast.mdl-typography--text-center.mdl-color-text--black {
  color: #fff !important;
}
.mdl-color--primary-dark.mdl-layout__tab-bar-button,
.mdl-color--primary-dark.mdl-layout__tab-bar,
.mdl-color--primary-dark.mdl-layout__tab-bar-button {
  background-color: rgb(45, 45, 45) !important;
}
.mdl-typography--text-left.mdl-cell--2-col-phone.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop,
.mdl-typography--text-right.mdl-cell--2-col-phone.mdl-cell--4-col-tablet.mdl-cell--6-col-desktop {
  color: rgb(255, 255, 255) !important;
}
.mdl-button--raised.mdl-button--colored {
  background: rgb(60, 153, 220) !important;
  color: rgb(0, 0, 0) !important;
}
.mdl-button--raised.mdl-button--colored:hover,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:focus:not(:active) {
  background-color: rgb(60, 153, 220) !important;
}
.mdl-js-ripple-effect.mdl-js-button.mdl-button.mdl-button--icon {
  color:rgb(60, 153, 220) !important;
}
.mdl-card,
.mdl-cell--4-col-phone.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop.project-cell.mdl-shadow--2dp.mdl-cell
{
  background: rgb(40, 40, 40) !important;
}
.mdl-list__item,
.mdl-typography--text-right,
.mdl-typography--text-left {
  color: rgba(255, 255, 255, 0.87) !important;
}
.mdl-layout__header-row,
.mdl-layout__header {
  background-color: rgb(18, 18, 18) !important;
}
body,
div.app-wrapper,
.mdl-layout__content {
  background-color: rgb(47, 47, 47) !important;
}
.mdl-tabs__tab {
  color: rgba(255, 255, 255, 0.6) !important;
}
.mdl-tabs__tab-bar {
  border-bottom: none !important;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  box-shadow: 0 2px 2px 0 rgb(255 255 255 / 14%), 0 3px 1px -2px rgb(255 255 255 / 20%), 0 1px 5px 0 rgb(255 255 255 / 12%);
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  animation: none !important;
  transition: none !important;

  color: rgba(255, 255, 255, 1) !important;
}
.mdl-typography--title-color-contrast.mdl-color-text--black,
.mdl-layout.is-upgraded.has-tabs.mdl-js-layout.mdl-layout--fixed-header,
.mdl-js-ripple-effect.mdl-js-button.mdl-button.mdl-button--colored.mdl-button--icon {
  color: rgba(255, 255, 255, 1) !important;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: rgba(255, 255, 255, 0.84) !important;
}
.mdl-color-text--primary.mdl-typography--title-color-contrast.mdl-typography--text-center.mdl-cell--4-col-phone.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop.mdl-cell {
  color: rgb(39, 154, 237) !important;
}
.mdl-color-text--red-500.mdl-typography--title-color-contrast.mdl-typography--text-center.mdl-cell--4-col-phone.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop.mdl-cell {
  color: rgb(255, 0, 0);
}
svg[fill="red"] {
  fill: red;
}
svg[mask="url(#pieMaskNormal)"] > path {
  fill: rgba(0, 0, 0, 0.4);
}

text[fill] {
  fill: rgba(255, 255, 255, 0.87);
}

*::selection {
  background: #96d0ff !important;
  color: black !important;
  fill: black !important;
}
